# Compiled Object files
*.slo
*.lo
*.o
*.gch

# build directories
build/*

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vim temporaries
*.swp
*~

# Executables
*.x
